<div>
    <h1 appHighlight>Interview</h1>

    <h3>What is Angular ? Why was it introduced ?</h3>
    <p>Angular is an open source Javascript framework entirely written in Typescript, It was introduced to create Single
        Page Applications.</p>

    <h3>What is TypeScript ?</h3>
    <p>TypeScript is a superset of JavaScript that offers excellent consistency.</p>

    <h3 appHighlight=>What is data binding ?</h3>
    <p>Data binding is a phenomenon that allows any internet user to manipulate Web page elements using a web browser. It uses 
        dynamic HTML and does not require complex scripting or programming.
    </p>
    <p>
        Angular uses two-way binding any changes made to the user interface are reflected in the corresponding model state.
    </p>

    <h3>What are directives?</h3>
    <ul>
        <li><b>Components</b> - Used with a template. This type of directive is the most common directive type.</li>
        <br />
        <li><b>Attribute directives</b> - Change the appearance or behavior of an element, component, or another directive. [NgClass, NgStyle, NgModel]</li>
        <br />
        <li><b>Structural directives</b> - Change the DOM layout by adding and removing DOM elements. [NgIf, NgFor, NgSwitch]</li>
    </ul>

    <h3>What are Single Page Applications (SPA)?</h3>
    <p></p>

    <h3>What are decorators in Angular?</h3>
    <p></p>

    <h3>Mention some advantages of Angular.</h3>
    <p></p>

    <h3>What are Annotations in Angular?</h3>
    <p></p>

    <h3>What is an AOT compilation? What are its advantages?</h3>
    <p></p>

    <h3>What are Pipes in Angular? </h3>
    <p></p>

    <h3>What is an ngModule?</h3>
    <p></p>

    <h3>What is String Interpolation in Angular?</h3>
    <p></p>

    <h3>What is the difference between AOT and JIT? </h3>
    <p>Ahead of Time (AOT) compilation converts your code during the build time before the browser downloads and runs that code. This ensures faster rendering to the browser. To specify AOT compilation, include the --aot option with the ng build or ng serve command. </p>
    <p>The Just-in-Time (JIT) compilation process is a way of compiling computer code to machine code during execution or run time. It is also known as dynamic compilation. JIT compilation is the default when you run the ng build or ng serve CLI commands. </p>


    <h3>Explain the Component Decorator.</h3>
    <p></p>

    <h3>What are Promises and Observables in Angular?</h3>
    <p></p>

    <h3>What is Eager and Lazy loading? </h3>
    <p>Eager loading is the default module-loading strategy. Feature modules under Eager loading are loaded before the application starts. This is typically used for small size applications.</p>
    <p>Lazy loading dynamically loads the feature modules when there's a demand. This makes the application faster. It is used for bigger applications where all the modules are not required at the start of the application. </p>

    <h3></h3>
    <p></p>

    <h3></h3>
    <p></p>

    <h3></h3>
    <p></p>

    <h3></h3>
    <p></p>

    <h3></h3>
    <p></p>

    <h3></h3>
    <p></p>

    <h3></h3>
    <p></p>

    <h3></h3>
    <p></p>

    <h3>Angular coding style guide</h3>
    <ul>
        <li><b>File Structure conventions</b></li>
        <br />
        <li><b>Single Responsibility</b></li>
        <br />
        <li><b>Naming</b></li>
        <br />
        <li><b>Application Structure</b></li>
        <br />
        <li><b>Dont Repeat Yourself</b></li>
        <br />
        <li><b>Components</b></li>
    </ul>


</div>